        
  /* Le slider */
  .slider {
    -webkit-appearance: none;  /* On écrase les styles css par défaut */
    appearance: none;
    width: 100%; /* On prend toute la largeur de l'écran */
    height: 50px; /* Hauteur spécifié */
    background: #d3d3d3; /* Background de couleur gris */
    outline: none; /* On enlève l'outline sur le slider */
    opacity: 0.7; /* On met un peu de transparence (pour les effets de souris quand on est sur le slider) */
    -webkit-transition: .2s; /* On attends .2 secondes pour la transition quand on passe la souris dessus */
    transition: opacity .2s;
  }
  
  /* Effet lorsque la souris est sur le slider */
  .slider:hover {
    opacity: 1; /* Opacité au max sur le slider quand la souris est dessus */
  }
  
  /* Le handle du slider gère la plupart des browsers et écrase les anciens look avec -> webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* On écrase l'ancien look */
    appearance: none;
    width: 48px; /* Largeur du slider */
    height: 48px; /* Hauteut du slider */
    background: url('planet-48.png'); /* Image du Background du slider */
    cursor: pointer; /* Curseur */
  }
  
  .slider::-moz-range-thumb {
    width: 48px; /* Largeur du slider */
    height: 48px; /* Hauteut du slider */
    background: url('planet-48.png'); /* Image du background du slider */
    cursor: pointer; /* Curseur */
  }

  /*Import et mise en page de la police Poppins et mise en place de la couleur du body*/
  @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
  body{
      font-family: 'Poppins',sans-serif;
      background-color: #f9f2fb;
  }
  html {
    background-color: #f9f2fb;
  }
  *{
      margin: 0;
      padding: 0;
  }